<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div><h1>Welcome to My Lms Project</h1></div>
      <div>
        <p>Hello <%user.name%>,</p>
        <p>Thank you for registration</p>
        <h2><%= activationCode%></h2>
        <p>please enter this code within the 5mins</p>
        <p>if you did not regsiter ignore this mail thens</p>
      </div>
      <div>
        <p>if you have any question, please don't hesitate to contact me</p>
      </div>
    </div>
  </body>
</html>
